body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  direction: rtl;
  background: linear-gradient(135deg, #00a8ff, #0097e6);
  color: #fff;
  padding: 15px 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
  position: fixed;
  left: 0;
  margin-top: 8px;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #f1c40f;
  text-decoration: none;
}

.navbar::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: #f1c40f;
  width: 0;
  transition: width 0.3s;
}

.navbar:hover::before {
  width: 100%;
}
@media screen and (max-width : 600px) {

  .nav-links a {
    font-size: 15px;
    padding: 10px 10px 10px 10px;
  }
  .nav-doctors{
    margin-left: -30px;
  }
}
